<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="contentBox">
    <div class="welcomeBox boxStyle display-1 text-center font-weight-bold bg-primary text-white">
        Welcome
        <div class="arrow bounce display-3">
            <!-- <a class="text-decoration-none text-black-50">Scroll Down</a> -->
            <h3 class="fa fa-angle-double-down"></h3>
        </div>
    </div>
    <div class="content1 boxStyle" style="text-indent: 3.5em;">
        <p class="intro1">If you’re feeling under the weather but aren’t sure what it could be, an online symptom checker can help you identify whether you need to seek immediate medical attention.</p>

        <p class="intro2">Online symptom checkers are calculators that ask users to input details about their signs and symptoms of sickness, along with their gender, age and location. 
            Using computerised algorithms, the self diagnosis tool will then give a range of conditions that might fit the problems a user is experiencing. 
            They can also advice someone whether to seek advice from a healthcare professional and the level of urgency in which to do so.</p>
    </div>
    <div class="content2 boxStyle">
        <h1 class="head1">
            What’s the difference between a sign and a symptom?
        </h1>
        <div style="text-indent: 3em;">
            <p class="a1p1">‘Sign’ and ‘symptom’ are often used interchangeably, but if we’re going to be pedantic, they do actually mean different things.</p>

            <p class="a1p2">If you’re feeling ill it might not be immediately obvious to somebody looking at you that you’re sick. For instance, 
                if you’re experiencing pain, fatigue or dizziness, only you know what that feels like. These are symptoms - which can only be described by the person experiencing them.</p>

            <p class="a1p3">Signs, on the other hand, can be observed by an outsider too. For example, indicators to other people that you’re unwell, such as: sweating, sneezing or looking pale. 
                Or, things that can be measured, such as a high blood pressure reading or a fever determined with a thermometer, count as signs.</p>

        </div>
    </div>
    <div class="content3 boxStyle">
        <h1 class="head2">How safe and accurate are symptom checkers?</h1>
        <div style="text-indent: 3.5em;">
            <p class="a2p1">Most doctors agree that online symptom checkers are can encourage people with life-threatening symptoms to seek urgent attention, potentially saving lives. 
                They’re also useful for reassuring patients who may have sought urgent care when they didn’t need to.</p>

            <p class="a2p2">However, one study suggested that online symptom checkers tend to be over-cautious, which could lead to an increase in unnecessary appointments, rather than a reduction. 
                Another piece of research from the United States found that doctors are twice as likely to make a correct diagnosis as online symptom checkers.</p>

            <p class="a2p3">While these self diagnosis tools can certainly be useful for determining whether a trip to hospital is necessary, they can’t match the expertise of an experienced health professional.</p>
        </div>
    </div>
</div>
